# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# OTHERS
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android related
android/.gradle/
android/app/build/
android/.idea/
android/local.properties

# iOS related
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/
ios/Flutter/Flutter.podspec
ios/Flutter/GeneratedPluginRegistrant.*
ios/ServiceDefinitions.json

# macOS related
macos/Pods/
macos/Runner.xcworkspace/
macos/Flutter/ephemeral/

# Linux related
linux/flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/

# Web related
web/.dart_tool/

# Symbolication related
dsym/

# Coverage related
coverage/

# Packages
pubspec.lock

# Miscellaneous
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.class
*.pyc
*.pyo
*.pyd
*.db
*.sublime-workspace
*.sublime-project

# Lottie cache
assets/lottie/*.json
